pytest==7.1.2
coverage
coveralls
bokeh
nbval
pytest-cov
pygments
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability